* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, #f3f9fb, #dce7ee); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  padding: 0 5%; 
}

.navbar-logo {
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar-logo a {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
}

.navbar-logo img {
  height: 70%;
  width: auto;
}

.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-links ul {
  display: flex;
  list-style: none;
  gap: 5rem;
}

.navbar-links ul li {
  font-family: "Arial", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.links {
  text-decoration: none;
  padding: 15px;
  color: #002d62;
  transition: color 0.3s ease-in-out;
}

.links:hover {
  color: #e2725b;
  border-bottom: 2px solid #e2725b;
}

.navbar-button {
  background-color: #002d62;
  color: #ffffff;
  padding: 8px 16px;
  border-radius: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
  font-size: 0.9rem;
}

.navbar-button:hover {
  background-color: #e2725b;
}
